/* body{
	font-size:16px;
	font-family: 'Microsoft Yahei';
}

.Container{
	background-color: grey;
	width: 50%;
	margin:0 auto;
	padding: 2rem 3rem;
}
.List{
	padding: 0;
	list-style: none;
	display: -webkit-flex; Safari
	display: flex;
	flex-direction: column;
	justify-content:center;
}
.List li{
	display: -webkit-flex; Safari
	display: flex;
	flex-direction: row;
	justify-content:space-between;
	margin-top: 1em;
	border-bottom: 1px solid white;
}
.btnStyle{
	margin:1em 0 1em 4em;

	border-radius: .5em;
	background-color: lightgrey;
	outline: none;


}
.inputStyle{
	border-radius: .8em;
	background: tan;
	padding: .1em;
	cursor: text;
}
.inputStyle:focus{
	outline: none;
	background: white;
} */
body {
  font-size: 20px;
  font-family: 'Microsoft Yahei';
}
.addItemStyle {
  /* .felx_container();
	flex-direction: row; */
}
.Container {
  background-color: #EBE0DA;
  width: 50%;
  margin: 0 auto;
  padding: 2rem 3rem;
}
.List {
  padding: 0;
  list-style: none;
  display: -webkit-flex;
  /* Safari */
  display: flex;
  flex-direction: column;
  /*justify-content:center;*/
}
.List li,
.addItemStyle {
  display: -webkit-flex;
  /* Safari */
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 1em;
  padding: .2em .2em;
  border-bottom: .1em solid #69738E;
}
.btnStyle {
  border-radius: .5em;
  background-color: #9C9696;
  outline: none;
  border:none;
}
.inputStyle {
  font-size: 1em;
  border-radius: .8em;
  border:none;
  background: #EBE0DA;
  padding: .1em;
  cursor: text;
}
.inputStyle:focus {
  outline: none;
  background: #EBE0DA;
}
